# LIST AND ITS DEFAULT FUNCTION

In [108]:


lst=['harshali',27,12,'h@gmail.com']

lst

['harshali', 27, 12, 'h@gmail.com']

In [19]:
lst.append ("989897788")

In [20]:
lst

['harshali', 27, 12, 'h@gmail.com', '989897788', '989897788']

In [21]:
lst.count(27)

1

In [23]:
lst.count(12)

1

In [25]:
lst.index(12)

2

In [27]:
lst.index('harshali')

0

In [32]:
lst.pop(2)

12

In [33]:
lst

['harshali', 27, 'h@gmail.com', '989897788', '989897788']

In [41]:
lst.append('Dec 27')

In [42]:
lst

['harshali', 27, 'h@gmail.com', '989897788', '989897788', 15, 2.25, 'Dec 27']

In [43]:
lst.remove(2.25)

In [44]:
lst

['harshali', 27, 'h@gmail.com', '989897788', '989897788', 15, 'Dec 27']

In [45]:
lst.remove(15)

In [46]:
lst

['harshali', 27, 'h@gmail.com', '989897788', '989897788', 'Dec 27']

In [47]:
lst.reverse()

In [48]:
lst

['Dec 27', '989897788', '989897788', 'h@gmail.com', 27, 'harshali']

In [50]:
lst

['Dec 27', '989897788', '989897788', 'h@gmail.com', 27, 'harshali']

In [56]:
lst[-2]

27

In [55]:
lst

['989897788', '989897788', 'Dec 27', 'h@gmail.com', 27, 'harshali']

# DICTIONARY ANS ITS DEFAULT FUNCTION

In [57]:
dit={"name" :"Harshali", "age":"24", "Mobile":875423567,"email":"ha@gmail.com"}

In [58]:
dit

{'name': 'Harshali', 'age': '24', 'Mobile': 875423567, 'email': 'ha@gmail.com'}

In [59]:
dit.get('name')

'Harshali'

In [60]:
dit.get('Mobile')

875423567

In [62]:
dit["name"]

'Harshali'

In [64]:
dit.items()

dict_items([('name', 'Harshali'), ('age', '24'), ('Mobile', 875423567), ('email', 'ha@gmail.com')])

In [65]:
dit.keys()

dict_keys(['name', 'age', 'Mobile', 'email'])

In [67]:
dit.pop("age")

'24'

In [68]:
dit

{'name': 'Harshali', 'Mobile': 875423567, 'email': 'ha@gmail.com'}

In [69]:
dit.values()

dict_values(['Harshali', 875423567, 'ha@gmail.com'])

In [70]:
dit.copy()

{'name': 'Harshali', 'Mobile': 875423567, 'email': 'ha@gmail.com'}

In [71]:
dit

{'name': 'Harshali', 'Mobile': 875423567, 'email': 'ha@gmail.com'}

# SET AND ITS DEFAULT FUNCTION

In [73]:
st={1,4,67,54,800,2,'Priyanka',9089,'Trisha'}

In [74]:
st

{1, 2, 4, 54, 67, 800, 9089, 'Priyanka', 'Trisha'}

In [75]:
st1={4,5,76,2}

In [76]:
st2={80,766,90}

In [77]:
st1

{2, 4, 5, 76}

In [78]:
st2

{80, 90, 766}

In [79]:
st.intersection(st1)

{2, 4}

In [81]:
st1.intersection(st2)

set()

In [82]:
st.difference(st1)

{1, 54, 67, 800, 9089, 'Priyanka', 'Trisha'}

In [83]:
st.issubset(st1)

False

In [84]:
st1.issubset(st2)

False

In [85]:
st.isdisjoint(st1)

False

In [86]:
st.add(0)

In [87]:
st

{0, 1, 2, 4, 54, 67, 800, 9089, 'Priyanka', 'Trisha'}

In [90]:
st.pop()

800

In [91]:
st

{0, 1, 2, 4, 54, 67, 9089, 'Priyanka', 'Trisha'}

In [92]:
st.remove(0)

In [93]:
st

{1, 2, 4, 54, 67, 9089, 'Priyanka', 'Trisha'}

In [94]:
st.union(st1)

{1, 2, 4, 5, 54, 67, 76, 9089, 'Priyanka', 'Trisha'}

In [95]:
st

{1, 2, 4, 54, 67, 9089, 'Priyanka', 'Trisha'}

In [96]:
st.symmetric_difference(st1)

{1, 5, 54, 67, 76, 9089, 'Priyanka', 'Trisha'}

# TUPLES AND ITS DEFAULT FUNCTION

In [97]:
tp=("reshma","45","reshma@gmail.com")

In [98]:
tp

('reshma', '45', 'reshma@gmail.com')

In [100]:
tp.count("reshma")

1

In [102]:
tp.index("45")

1

In [103]:
tp.index("reshma")

0

# STRING AND ITS DEFAULT FUNCTION

In [109]:
name ="Harshali"
name2="Sharma"

In [110]:
name2

'Sharma'

In [111]:
name

'Harshali'

In [114]:
name + " " +name2

'Harshali Sharma'

In [115]:
name.capitalize()

'Harshali'

In [117]:
name.count("Harshali")

1

In [131]:
a=10
b=10
c=a+b

In [133]:
type(a)
c

20

In [129]:
a=20.0
b=10.0

c=a/b

In [130]:
c

2.0

In [124]:
type(c)

float